<h2>List of Questions</h2>
<ul class="questions">
<!--
  <li *ngFor="let question of questions" (click)="onSelect(question)" [class.selected]="question === selectedQuestion">
    <span class="badge">{{question.id}} - {{question.theme}} </span> {{question.questionText}}
  </li>
-->
  <li *ngFor="let question of questions">
    <a routerLink="/detail/{{question.id}}"><span class="badge">{{question.id}}</span> {{question.theme}}</a>
    <button class="delete" title="delete question" (click)="delete(question)">x</button>
  </li>
</ul>

<app-question-detail [question]="selectedQuestion"></app-question-detail>